*{padding: 0;margin: 0}
.main,body{
    width: 640px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.talkto2 {
    float: left;
    margin: 0 0 0 20px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    color: #2ab888;
}
.title{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    width: 640px;
    margin: 0 0 0 -320px;
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #f3f3f3;
}
.talktozk{
    display: none;
    float: right;
    color: #2ab888;
    line-height: 80px;
    font-size: 28px;
    margin: 0 20px 0 0;
}
.talktoclose{
    display: none;
    float: right;
    color: #2ab888;
    line-height: 80px;
    font-size: 16px;
    margin: 0 20px 0 0;
}
.talkto{
    line-height: 80px;
    font-size: 28px;
    width: 390px;
    text-align: center;
    float: left;
}
.footer{
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    height: 60px;
    left: 50%;
    width: 640px;
    margin: 0 0 0 -320px;
    background: #f5f5f7;
    border-top: 1px solid #c2c2c4;
}
.chat02_bar {
    float: right;
    width: 90px;
    height: 60px;
    font-size: 28px;
    color: #2ab888;
    text-align: center;
    line-height: 60px;
}
.chat02_content {
    width: 435px;
    float: right;
}
.chat02_content textarea {
    border: medium none;
    display: block;
    width: 415px;
    height: 40px;
    padding: 10px;
    font-size: 22px;
    color: #000;
    line-height: 40px;
    background: #fff;
    overflow-y: auto;
    resize: vertical;
    border-radius: 5px;
}
.yuyinviewbox {
    display: none;
    border: 1px solid #c2c2c4;
    float: right;
    width: 405px;
    height: 40px;
    padding: 10px;
    font-size: 22px;
    color: #000;
    line-height: 40px;
    overflow-y: auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.eachjp_yuyin.on {
    display: none;
    background: url("../img/yuyin.png") no-repeat center center;
}
.eachjp_yuyin {
    float: right;
    height: 60px;
    width: 120px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: #ff5100;
    background: url("../img/jp.png") no-repeat center center;
}
.content,.historybox{
    display: block;
    overflow-y: auto;
    width: 640px;
    margin: 80px 0 90px;
}
.rightContent, .leftContent {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.rightContent .sanjiaobox {
    right: 97px;
}
.sanjiaobox {
    position: absolute;
    width: 14px;
    top: 50px;
}
.leftContent .sanjiaobox {
    left: 97px;
    transform: rotate(180deg);
}
.sanjiaobox img {
    width: 100%;
}
.userheadpic img {
    display: block;
    width: 100%;
    margin: 0;
}
.rightContent .userheadpic {
    float: right;
    margin: 15px 15px 0 0;
}
.userheadpic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.rightContent p1, .rightContent p3 {
    text-align: right;
}
.leftContent p1, .rightContent p1 {
    display: block;
    margin: 0 110px 0 110px;
    font-size: 18px;
    color: #999999;
    line-height: 35px;
}
.rightContent p3 {
    float: right;
    margin: 0 15px 0 0;
}
.leftContent p3, .rightContent p3 {
    overflow: hidden;
    text-align: left;
    max-width: 420px;
    padding: 10px 20px;
    line-height: 30px;
    background: #eee;
    border-radius: 16px;
    color: #666666;
    font-size: 24px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.leftContent p1 em,.rightContent p1 em{
    display: inline-block;
    color: #B8B8B8;
    font-size: 18px;
    margin: 0 20px;
    font-style: normal;
}
.leftContent .userheadpic {
    float: left;
    margin: 15px 0 0 15px;
}
.leftContent p3 {
    float: left;
    margin: 0 0 0 15px;
}
.rightContent{
    text-align: right;
}
.leftContent{
    text-align: left;
}
.show{
	display:block;
}
.hide{
	display:none;
}
.loadmore{
    display: block;
    margin: 40px 0 0;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.historybox{
    display: none;
    background: #e1e1e1;
}

.sendimg{
    float: right;
    width: 90px;
    height: 60px;
    position: relative;
}
.sendimg em{
    display: block;
    margin: 10px 0 0 30px;
    font-style: normal;
    width: 40px;
    height: 40px;
    border: 2px solid #c2c2c4;
    text-align: center;
    line-height: 44px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    font-size: 50px;
    font-weight: bold;
}
.sendimg input{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.boxcontent2 p3 img, .boxcontent p3 img{
    display: block;
    max-width: 420px;
}
.openbox{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 10000;
}
.openboxbg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: #000;
    z-index: 1;
}
.openbox img{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}



